@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------- GLOBASLES --------------- */

:root {
    --negro: #000000;
    --grisOscuro: #262626;
    --grisClaro: #A5A5A5;
    --blanco: #FFFFFF;
    --azul: #2271d1;
    --azulClaro: #65a5f3;
    --error: #E53935;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
    --innovGest: #FFBA05;
}

* {
    font-family: "Roboto", serif;
}

body {
    margin: 0%;
    background-color: var(--grisOscuro);
}

.main-contenedor {
    padding: 0rem 0rem 1rem 0rem;
}

.frontBG {
    background-color: var(--frontEnd);
}

.backBG {
    background-color: var(--backEnd);
}

.inovBG {
    background-color: var(--innovGest);
}

/* --------------- NAVEGACION ---------------*/

nav {
    background-color: var(--grisOscuro);
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 2px var(--azul);
    -moz-box-shadow: 0px 4px 2px var(--azul);
    box-shadow: 0px 4px 2px var(--azul);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-logo {
    display: flex;
    width: 25%;
}

.nav-botones {
    width: 75%;
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav-botones-home,
.nav-botones-nuevo {
    color: var(--blanco);
    width: 7.5rem;
    text-align: center;
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 0.125rem solid var(--blanco);
    border-radius: 0.5rem;
}

.nav-botones-home:hover,
.nav-botones-nuevo:hover {
    background-color: var(--negro);
    color: var(--azul);
    border: 0.125rem solid var(--azul);
    box-shadow: inset 0px 0px 0.75rem var(--azul);
}

/* --------------- TITLE CARD ---------------*/

.titlecard-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background:
        linear-gradient(rgb(34, 113, 209, 0.25), rgb(34, 113, 209, 0.25)),
        url("../images/PlayerBG.png");
    background-position: center;
    background-size: cover;
    height: auto;
    padding: 10rem 5rem 10rem 5rem;
}

.titlecard-contenedor-texto {
    width: 60%;
}

.titlecard-contenedor-texto-titulo {
    background-color: var(--frontEnd);
    color: var(--blanco);
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    width: 12.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.titlecard-contenedor-texto-subtitulo {
    color: var(--blanco);
    font-size: 1.5rem;
    width: 80%;
}

.titlecard-contenedor-texto-contenido {
    color: var(--blanco);
    font-size: 1rem;
    width: 80%;
}

.titlecard-contenedor-imagen {
    width: 40%;
}

.titlecard-contenedor-imagen-imagen {
    width: 100%;
}

/* --------------- CONTENT SECTION ---------------*/

.contentsection-contenedor {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.contentsection-titulo {
    color: var(--blanco);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.contentsection-contenido {
    display: flex;
    align-content: center;
    overflow-x: auto;
}

.contentsection-contenido::-webkit-scrollbar {
    height: 0.5rem;
}

.contentsection-contenido::-webkit-scrollbar-thumb {
    background: var(--azul);
    border-radius: 0.25rem;
}

.contentsection-contenido::-webkit-scrollbar-thumb:hover {
    background: var(--azulClaro);
}

.slider {
    display: flex;
    gap: 0.5rem;
}

/* --------------- ELEMENT CARD ---------------*/

.elementcard-contenedor-front {
    flex: 0 0 auto;
    width: 25rem;
    margin: 1rem;
    border: 0.25rem solid var(--frontEnd);
    border-radius: 1rem;
}

.elementcard-imagen-imagen-front {
    width: 100%;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border-bottom: 0.25rem solid var(--frontEnd);
}

.elementcard-contenedor-back {
    flex: 0 0 auto;
    width: 25rem;
    margin: 1rem;
    border: 0.25rem solid var(--backEnd);
    border-radius: 1rem;
}

.elementcard-imagen-imagen-back {
    width: 100%;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border-bottom: 0.25rem solid var(--backEnd);
}

.elementcard-contenedor-inov {
    flex: 0 0 auto;
    width: 25rem;
    margin: 1rem;
    border: 0.25rem solid var(--innovGest);
    border-radius: 1rem;
}

.elementcard-imagen-imagen-inov {
    width: 100%;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    border-bottom: 0.25rem solid var(--innovGest);
}

.elementcard-botones {
    background-color: var(--negro);
    border-radius: 0rem 0rem 0.75rem 0.75rem;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
}

.elementcard-botones-borrar,
.elementcard-botones-editar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--blanco);
}

/* --------------- NUEVO VIDEO ---------------*/

.nuevo-contenedor {
    padding: 2rem 5rem 2rem 5rem;
}

.nuevo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    color: var(--blanco);
}

.nuevo-titulo-texto {
    font-weight: bold;
    font-size: 2rem;
}

.nuevo-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.nuevo-formulario-titulo {
    color: var(--blanco);
    padding: 1rem;
    margin: 0.5rem;
    border-top: 0.0125rem solid var(--grisClaro);
    border-bottom: 0.0125rem solid var(--grisClaro);
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.nuevo-formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nuevo-formulario-campos-seccion {
    justify-content: space-evenly;
    display: flex;
}

.nuevo-formulario-campos-seccion-input {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: 50%;
}

label {
    color: var(--blanco);
}

input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--grisClaro);
    background-color: var(--grisOscuro);
    color: var(--grisClaro);
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.nuevo-formulario-campos-botones {
    display: flex;
}

.nuevo-formulario-campos-botones-boton {
    color: var(--blanco);
    border: 0.15rem solid var(--blanco);
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0.5rem;
    width: 7.5rem;
    text-align: center;
    font-weight: bold;
}

.nuevo-formulario-campos-botones-boton:hover {
    border: 0.15rem solid var(--azul);
}

/* --------------- FOOTER ---------------*/

footer {
    background-color: var(--negro);
    padding: 2rem;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px -4px 2px var(--azul);
    -moz-box-shadow: 0px -4px 2px var(--azul);
    box-shadow: 0px -4px 2px var(--azul);
}

/*  ---------------  RESPONSIVIDAD  ---------------*/

@media (max-width: 821px) {

    .contentsection-titulo{
        align-self: center;
    }

    .elementcard-contenedor-front{
        width: 19rem;
    }.elementcard-contenedor-back{
        width: 19rem;
    }.elementcard-contenedor-inov{
        width: 19rem;
    }

}

@media (max-width: 421px) {

    nav, .titlecard-contenedor{
        display: none;
    }

    .contentsection-titulo{
        align-self: left;
    }

    .elementcard-contenedor-front{
        width: 17rem;
    }.elementcard-contenedor-back{
        width: 17rem;
    }.elementcard-contenedor-inov{
        width: 17rem;
    }

    /* --------------- NUEVO VIDEO ---------------*/

    .nuevo-titulo {
        padding: 0rem;
        text-align: center;
    }

    .nuevo-formulario-campos-seccion {
        flex-direction: column;
        align-items: center;
    }

    .nuevo-formulario-campos-seccion-input {
        width: 100%;
    }

    .nuevo-formulario-campos-botones {
        flex-direction: column;
        align-items: center;
    }
}